@import "src/bootstrap/bootstrap.scss";

// Add SASS theme customizations here..
.cards{
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 20px;
}

.card{
  margin: 25px;
}

.btns{
padding: 20px;
}
